.footer{
    text-align: center;
      color: aliceblue ;
    width: 340px;
    height: 400px;
    margin-left: 450px;
    border-radius: 10px;
    background-color: rgb(198, 189, 249);
}
.heading{
    text-align: center;

}
button{
    padding: 20px;
}

