
.blog{
 
     margin-left: 450px;
     
     width: 300px;
     height:fit-content;
     
     background:url(image10.jpg);
     padding: 20px;
     border-radius: 50px;
     font-size: 20px;
     background: invisible;
     margin-bottom:20px;
     color: white;
}
.button{
     border: 2px solid grey;
     font-size: 12px;
     padding: 10px;
     border-radius: 10px;
     cursor: pointer;
     color: black;
     background-color: grey;
     margin-top: 9px;
     text-align: center;
 
}
.button:hover{
     color: white;
     background-color: black;
}
     input{
          border: 2px solid grey;
          border-radius: 5px;
          font-size: 20px;
          
     }
.coc{
     text-align: center;
     color: white;
}
.mistake{
     color: red;
     font-size: 12px;
     display: flex;
}
